.m_nav{
    height: 38px;
    background-image: linear-gradient(#fff,#ccc);
    border-top: 2px solid #cccccc;
    font-size: 14px;
    line-height: 38px;
    padding: 0 10px;
}
.m_comment{
    height: 40px;
    padding: 10px;
    margin: 10px 5px;
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
}
.m_main{
    background-color: #f1f1f1 ;
    height: 36px;
    padding: 10px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 7px;
}
.m_main p{
    font-size: 14px;
    font-weight: 700;
    color: #976129;
}

.m_content li{
    position: relative;
    padding-top: 10px;
    padding-left: 35px;
    border-bottom: 1px solid #cccccc;

}



.m_content .com{
    position: absolute;
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    background-color: #c9c9c9;
    text-align: center;
    top: 10px;
    left: 10px;

}
.m_content .com.one{
    background-color: red;
}
.m_content .com.two{
    background-color:orange ;
}
.m_content .com.three{
    background-color: greenyellow;
}
.m_content h5{
    font-weight: 100;
}
.m_content p{
    font-size: 12px;
    padding-top: 5px;
    color: #ccc;
}
.m_content .icon{
    position: absolute;
    right: 5px;
    top: 43%;
}
.m_tv ul li{
    padding: 10px;
    position: relative;
    padding-left: 120px;
    border-bottom: 1px solid #cccccc;
}

.m_tv ul img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.m_tv ul .one{
font-size: 14px;
}
.m_tv ul .two{
    padding-top: 8px;
    color: red;
    font-size: 18px;
}
.m_tv ul .three{
    padding-top: 10px;
    font-size: 12px;
    color: #c9c9c9;
}

.review ul li{
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

.review ul .top{
    padding: 10px;
    position: relative;
    padding-left: 120px;
    height: 118px;
    font-size: 14px;
    margin-bottom: 10px;
}

.review ul img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.review ul .bottom{
    background-color: #f8f8f8;
    padding: 5px;
    border: 1px solid #ccc;
    position: relative;
}
.review ul .bottom .last{
    line-height: 40px;
}
.review ul .bottom p{
    line-height: 25px;
}
.bottom .tig{
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f8f8f8;
    top: -20px;
    left: 45px;
}