.m_header{
    text-align: center;
    line-height: 30px;
    background-color: #F4483E;
}
.m_header .m_header_l{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
.m_header .fa-chevron-left{
    line-height: 33px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}
.m_info{
    font-size: 12px;
    color: #666;
    text-align: center;
    line-height: 30px;
}
.m_content li{
    border-bottom: 1px solid #cccccc;
    height: 120px;
}
.m_content li a{
    padding: 10px;
    display: block;
}

.m_content li img{
    width: 100px;
    height: 80px;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}
.m_content li h3{
    font-weight: 100;
    font-size: 14px;
}
.m_content li .time{
    font-size: 12px;
    color: orange;
    padding-left: 110px;
}
.m_content li p{
    font-size: 14px;
    font-weight: 700;
}
.m_content li .icon{
   margin-top: 30px;
    font-size: 20px;
}
.container{
    position: relative;
}
.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    display: none;
}
.modal.now{
    display: block;
}
.modal ul{


}
.modal .slider{
    width: 100px;
    height: 80px;
    position: relative;
    margin: 200px auto;
}
.modal ul li{
    position: absolute;
    top: 0;
   left: 0;
}


.modal .pic img{
    width: 100%;
}
.arrow .arrow-left{
    font-size: 36px;
    position: absolute;
    left: -40px;
    top: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.arrow .arrow-right{
    font-size: 36px;
    position: absolute;
    right: -40px;
    top: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.fa-close{
    position: absolute;
    color: #FFFFFF;
    right: 15px;
    top: 15px;
}