.m_header{
    text-align: center;
    line-height: 30px;
}
.m_header .m_header_l{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
.m_header .fa-chevron-left{
    line-height: 33px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}
.m_content{
    padding: 10px;
}
.m_content p span{
    font-size: 12px;
    color: #cccccc;
    line-height: 45px;
}
.info img{
    width: 60%;
    margin: 0 auto;
    display: block;
}
.text img{
    width: 120px;
    height: 120px;
    float: right;
}
.text p{
    padding-top: 5px;
    color: #606060;
}
#disstorck{
    width: 174px;
    margin: 10px auto;
    padding: 5px;
}
#disstorck li{
    width: 174px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
#disstorck li strong{
    float: right;
    font-weight: 100;
    color: red;
}
.buy{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background-color:#ff9000 ;
    border-radius: 5px;
}
.er{
    margin-top: 10px;
    width: 100%;
}
.form{
    position: relative;

}
.tit{
    line-height: 40px;
}
#ctl00_ContentBody_txt_nr{
    width: 100%;
    height: 138px;
    border: 2px solid #cccccc;
}

#ctl00_ContentBody_Button1{
    position: absolute;
    right: 1px;
    top: 100px;
    padding: 10px;
    border-radius: 3px;
    background-color: #ff9000;
    color: #FFFFFF;
}
.ui-border-b{
  position: relative;
}
.con{
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}
.userimg{
    position: absolute;
    left: 5px;
    top: 10px;
}
.userimg img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.name {
    padding-left: 60px;
}
.name .time{
    float: right;
    color: #cccccc;
}
.name .username{
    float: left;
    color: cornflowerblue;
}
.content{
    padding-left: 60px;
}


