.m_header{
    text-align: center;
    line-height: 30px;
}
.m_header .m_header_l{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
.m_header .fa-chevron-left{
    line-height: 33px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}
.m_content{
    padding-top: 10px;
    padding-bottom: 30px;
}
.m_content ul{
    width: 300px;
    margin: 0 auto;
    /*background-color: #606060;*/
}
.m_content ul li{
    border: 1px solid #cccccc;
    margin-right: 5px;
    margin-top: 5px;
    padding: 10px;
    background-color: #f4f4f4;
}