<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>慢慢买</title>
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/couponproduct.css">
</head>
<body>
<div class="container">
    <div id="head" class="m_header clearfix">
        <a href="javascript:history.go(-1);"><span class="fa fa-chevron-left fl"></span></a>
        <a href="javascript:;" class="m_header_l">肯德基优惠券</a>
        <a href="javascript:;" class="m_header_r fr"><img src="images/header_app.png" alt=""></a>
    </div>
    <p class="m_info">
        --点餐前出示手机中的优惠券，即可享受优惠--
    </p>
    <div class="m_content">
        <ul class="clearfix">
            <!--模板渲染-->
        </ul>
    </div>
    <div class="m_footer">
        <div class="footer_c clearfix">
            <a href="javascript:;" class="fl">登陆</a>
            <a href="javascript:;" class="fl">注册</a>
            <a href="#head" class="fl"><span class="fa fa-arrow-up"></span>返回顶部</a>
        </div>
        <div class="m_poster">
            <p><span style="color: red">手机APP下载</span>慢慢买手机版 <span>掌上比价平台</span></p>
            <p>m.mammanbuy.com</p>
        </div>
    </div>

    <div class="modal">
        <span class="fa fa-close"></span>
        <div class="slider">
            <ul class="pic">

            </ul>
            <div class="arrow">
                <span class="arrow-left">&lt;</span>
                <span class="arrow-right">&gt;</span>
            </div>

        </div>
    </div>
</div>

<script type="text/html" id="tpl">
    {{each result v i}}
    <li data-id="{{v.couponId}}">
        <div class="icon fr"><span class="fa fa-angle-right"></span></div>
        <a href="#head">
            <%- v.couponProductImg %>
            <h3>{{v.couponProductName}}</h3>
            <p>{{v.couponProductPrice}}</p>
            <p class="time">{{v.couponProductTime}}</p>
        </a></li>
    {{/each}}
</script>
<script type="text/html" id="tp2">
    {{each result v i}}
    <li>
        <%- v.couponProductImg %>
    </li>
    {{/each}}
</script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="lib/jquery/jquery.min.js"></script>
<script src="js/common.js"></script>
<script src="js/couponproduct.js"></script>
</body>
</html>